.container {
  width: 70vw;
  margin: 2rem auto;
  background: rgb(255, 255, 255);
  padding: 2rem 1.5rem;
}

.productsHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-left: 30px;
}

.productsHeader h3{
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  font-weight: bold;
}

.container button {
  background-color: white;
  margin: 1rem 0;
  padding: 0.3rem 0.7rem;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.container button:first-child{
  margin-right: 8px;
}

.productContainer{
  margin-top: 40px;
  display: flex;
}

.productContainer img{
  filter: brightness(150%)
}

.productContainer p{
  font-size: 1.2rem;
  margin-left: 4rem;
}

.productContainer .price{
  font-weight: bold;
  font-size: 4rem;
  margin-left: 2rem;
}

@media(max-width:720px){
  .productContainer,
  .productContainer .info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productContainer .price,
  .productContainer p{
    margin-left: 0rem;
  }
}