.collectionsContainer, .productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70vw;
  /* height: 100vh; */
}


@media(max-width:720px){
  .collection{
    margin-left: 35px;
  }
}

.productsContainer {
  gap: 4rem;
  justify-content: unset;
}

.collection {
  max-width: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  /* box-shadow: 1px -1px 2px 2px #cfcaca80; */
  transition: color 3ms;
  cursor: pointer;
}

.product {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

.product p{
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.collection:hover, .product:hover {
  filter: opacity(.5)
}

.collection img {
  filter: opacity(.8)
}

.product img {
  filter: brightness(150%)
}

.collection span {
  position: absolute;
  margin-top: 40%;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
}

.product span {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}