.HeaderContainer {
  /* position: relative; */
  background: black;
}

.HeaderContainer>div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; */
}

.HeaderLogo {
  text-align: center;
}

@media(max-width:720px) {
  .socialMedia p {
    text-align: center;
  }
  .HeaderContainer>div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.socialMedia {
  color: white;
  display: flex;
  align-items: center;
}

.socialMedia div{
  display: flex;
  align-items: center;
}

.socialMedia p {
  margin-right: 0.7rem;
  font-weight: bold;
}

.socialMedia a {
  margin-right: 5px;
  margin-top: 5px;
}

.socialMedia svg {
  color: white;
}

.HeaderContainer img {
  background-color: rgb(207, 189, 189);
  border-radius: 11px;
  cursor: pointer;
}

.HeaderLogo strong {
  font: 400 5rem 'Shadows Into Light', sans-serif;
  color: white;
  cursor: pointer;
  font-size: 3rem;
  text-transform: uppercase;
}

.HeaderCart {
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.HeaderCart>p {
  margin-right: 8px;
}