.container {
  margin: 2rem auto;
  background: rgb(255, 255, 255);
  padding: 2rem 1.5rem;
  width: 70vw;
}

.productsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.productsHeader h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  font-weight: bold;
  /* margin-bottom: 1rem; */
}

.container button {
  background-color: white;
  margin: 1rem 0;
  padding: 0.3rem 0.7rem;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.container button:first-child {
  margin-right: 8px;
}