.productsContainer{
  width: 70vw;
  margin: 0 auto;
  margin-top: 5rem;
}

.modal{
  width: 100vw;
  height: 120vh;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.849);
  position: absolute;
  animation: close 1s linear 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.content_modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}

.content_modal p:first-child {
  font: 400 3rem 'Shadows Into Light', sans-serif;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.content_modal p:last-child{
  color: white;
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.content_modal img{
  background-color: white;
  animation: rotate 3.5s linear infinite;
}

@keyframes rotate{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}

@keyframes close{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    visibility: hidden;
  }
}