* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body{
  background-color: #f9f9f9;
}

a{
  color: inherit;
  text-decoration: none;
}

:root{
  --color-primary: rgb(189, 186, 165);
}

@media(max-width:1080px) {
  html {
      font-size: 93.75%;
  }
}

@media(max-width:720px) {
  html {
      font-size: 87.5%;
  }
}

body{
  width: 100vw;
}

.button{
  background-color: var(--color-primary);
  color: white;
  margin: 1rem 0;
  padding: 12px 16px;
  width: 100%;
  border-radius: 4px;

  align-self: end;

  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;

  transition: all 0.2s;
}